// customize
$primary:       #ffc928;
$secondary:     #f3f3f3;
$success:       #35312b;
$info:          #ffffff;
$warning: #828892;
// import bootstrap

@import '../node_module/bootstrap/scss/bootstrap.scss';
